@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*-----------------------starting css for body-------------------------------*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
}
.navi {
    display: flex;
}
.heading {
    margin-top: 2.63%;
    margin-left: 8.33%;
}
.navigation_bar {
    margin-top: 2.63%;
    margin-left: 60%;
}
.navigation_bar a {
    text-decoration: none;
    color: black;
    padding-right: 8px;
    font-weight: 700;
}
.booking_part {
    display: flex;
}
.product_info {
    width: 582px;
    height: 270px;
    margin-left: 8.33%;
    margin-top: 145.8px;
}
.order_button {
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px;
    border-radius: 20px;
    margin-top: 20px;
    border-color: white;
}
.product_img{
    width: 440px;
    height: 414px;
    margin-top: 80px;
    margin-left: 800px;
}
.sponser{
    margin-top: 100px;
}
.sponser_img{
    padding-top: 29px;
    padding-bottom: 29px;
    display: flex;
    justify-content: center;
}
.center{
    text-align: center;
    margin-top: 100px;
}
#flex_box{
    margin-top: 80px;
    margin-left: 196px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 120px;
}
.item{
    width: 329px;
    height: 476px;
    padding-bottom: 17px;
    box-shadow: 1px 1px 20px gray, -1px -1px 20px gray;
}
.item img{
    width: 300px;
    height: 256px;
    margin-top: 17px;
    margin-left: 14px;
}
.item h1{
    padding-top: 16px;
    margin-left: 14px;
}
.item p{
    font-weight: 500;
    font-size: 35px;
    padding-top: 6px;
    margin-left: 14px;
}
.star_color{
    color: orange;
    margin-left: 14px;
}
.item h4{
    color: #787885;
    margin-left: 14px;
}
#no_style{
    font-weight: 800;
    text-decoration: none;
    color: #E02C6D;
    margin-left: 82.5%;
}
footer{
    margin-top: 80px;
    height: 239px;
    background-color: #0A0826;
}
.footer_text{
    color: white;
    text-align: center;
    padding-top: 50px;
}
.gap{
    padding-right: 15px;
}